.list{
  >li{
    position:relative;
    padding-left:33px;
    background:url('/image/ico_call.gif') no-repeat 10px 50%;
    background-size:13px auto;
    >a{
      display:block;
      color:#000;
      text-decoration: none;
      &:nth-child(1){
        border-bottom:1px solid #c8c7cc;
        padding:15px 0 10px;
        position:relative;
        strong{
          display:block;
          span{
            color:#000;
            font-weight:bold;
          }
        }
        sub{
          font-size:12px;
        }
        time{
          position:absolute;
          right:50px;
          top:50%;
          margin-top:-6px;
        }
      }
      &.info{
        position:absolute;
        right:10px;
        top:50%;
        z-index:10;
        margin-top:-12px;
        width:25px;
        height:25px;
        background:url('/image/ico_information.gif') no-repeat;
        background-size:25px auto;
      }
    }

    &.absence{
      background:none;
      >a{
        strong{
          color:#ff3b30;
        }
      }
    }
  }
}

.noData{
  text-align:center;
  font-size:18px;
  padding:20px 0;
}